/*
--bg-dark: oklch(0.1 0.07 234);
--bg: oklch(0.15 0.07 234);
--bg-light: oklch(0.2 0.07 234);
--text: oklch(0.96 0.1 234);
--text-muted: oklch(0.76 0.1 234);
--highlight: oklch(0.5 0.14 234);
--border: oklch(0.4 0.14 234);
--border-muted: oklch(0.3 0.14 234);
--primary: oklch(0.76 0.14 234);
--secondary: oklch(0.76 0.14 54);
--danger: oklch(0.7 0.14 30);
--warning: oklch(0.7 0.14 100);
--success: oklch(0.7 0.14 160);
--info: oklch(0.7 0.14 260);
*/


body {
    background: 
    linear-gradient(0deg, #00000088 80%, #181818 100%), 
    url("assets/background.png") no-repeat center center / cover;
    background-repeat: repeat-y;
    background-size: cover;      
    background-position: center; 
    margin: 0;
    display: flex;
    flex-direction: column;  
    min-height: 100vh;      
    font-family: 'Fira Mono', monospace;
}

.header {
    background-color: black;
    padding: 20px;     
    display: flex;
    justify-content: space-between;
}

.header a{
    font-size: 20px;
    color: #ededed;
    text-decoration: none;
    font-weight: 300;
    margin-left: 35px;
}

main {
    flex: 1;                      
    display: flex;                 
    justify-content: center;     
    align-items: flex-start;           
    flex-direction: column;        
    text-align: left;
    padding-left: 5%;
}

#mainGrid {
    display: flex;                
    gap: 30px;                    
    justify-content: center;      
    align-items: flex-start;       
    flex-wrap: wrap;             
}

#codeinput {
    display: inline-block;
    padding: 40px;
    width: 800px;
    border-radius: 10px;
    max-width: 800px;
    width: 100%;
    justify-content: center;
}

.CodeMirror {
    width: 850px;
    height: 400px; 
    font-size: 25px;
    font-family: monospace;
    border-radius: 10px;
    border: 3px solid white;
    background-color: black;
}

.CodeMirror-scroll {
    height: 400px; /* match the .CodeMirror height */
    overflow: auto;
}

h1 {
    color: white;
}

.logo {
    text-decoration: none;
    font-size: 30px;
    color: white;
    text-align: left;
}
#progressCounter {
    text-decoration: none;
    font-size: 20px;
    color: white;
    text-align: right;
}

#questionBox {
    background: black;
    color: white;
    border: 3px solid white; 
    border-radius: 10px;
    text-align: left;
    vertical-align: top;
    width: 800px; 
    height: 800px;
    font-size: 25px; 
    font-family: monospace;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.7);
}

.button-container {
    display: flex;          
    justify-content: center; 
    gap: 10px;              
    margin-top: 20px;      
}


button {
    background-color: black; 
    color: white; 
    cursor: pointer;
    border: 3px solid white; 
    padding: 12px 24px; 
    font-size: 16px; 
    font-family: monospace;
    font-weight: bold;
    transition: all 0.3s ease; 
    margin: 10px 5px; 
}

button:hover {
    background-color: #181818; 
}

